@charset "UTF-8";
@font-face {
    font-family: merriweather;
    src: url(fonte/Merriweather-Bold.ttf);}

@font-face {
    font-family: roboto;
    src: url(fonte/Roboto-Regular.ttf); 
}
p {
    font-family: roboto;
    text-align: justify;
    font-size: 18px;}

body {background-color: white;
    width: 600px;
    padding: 10px;
    margin:auto;}

h1{
    font-family: merriweather;
    font-size: 48px;
    text-align: center;
    color: #002563}

footer > p {
    font-family: roboto;
    text-align: center;
    color: #002563; 
    font-size: 24px;}

nav {font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    color: #428bca;}

div {font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px;}