@charset "UTF-8";
@font-face {
    font-family:Montserrat;
    src: url(Fontes/Montserrat-Light.ttf);}
@font-face {
    font-family:Roboto;
    src: url(Fontes/Roboto-Regular.ttf);}
    
    nav {background-color:#315ab3;
        margin: 0px;
        padding: 1%;}
        nav> a{color:white;
        padding: 10px;
        text-decoration:none;
        font-family:Montserrat;
        font-weight: bold;}
        nav> a:hover {background-color:#fbce39f9;
        color: white;}

        h1{font-family: Montserrat;
                font-size: 56px;
                color:#315ab3;
            }

    p {font-family: Roboto;
    font-size: 18px;}

    main {display: inline-block;
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        padding: 25px;
        padding-bottom:5%;}
    
    h2 {
        font-size: 30px;
        font-family:Montserrat;
        color:#315ab3;
    }
    ul,li{font-family: Roboto;}

   div{text-align: center;}